<!DOCTYPE html>
<html>
<head>
  <title>Danielslist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if @current_user.present? %>
	<p>Logged in as: <%= link_to "#{@current_user.username}", user_path(@current_user) %></p>
	<nav>
		<%= link_to 'Post', new_item_path %>
		<%= link_to 'Category Index', categories_path %>
		<%= link_to "Inbox", mailbox_inbox_path %>
		<%= link_to 'Log out', login_path, :method => 'delete', :data => {:confirm => 'Are you sure you wish to log out?'} %>
	</nav>
<% else %>
	<nav>
		<%= link_to 'Sign In', root_path %>
		<%= link_to 'Post', new_item_path %>
		<%= link_to 'Category Index', categories_path %>
	</nav>
<% end %>

<%= form_tag searches_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<% if flash[:message].present? %>
	<p><%= flash[:message] %></p>
<% end %>





<%= yield %>

</body>
</html>
