<!DOCTYPE html>
<html>
<head>
  <title>Danielslist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if @current_user.present? %>
<p><%= @current_user.username %> <%= link_to 'Log out', login_path, :method => 'delete', :data => {:confirm => 'Are you sure you wish to log out?'} %></p>
<% else %>

<% end %>

<%= yield %>

</body>
</html>
