<h2><%= @current_user.name %> <%= @current_user.surname %> </h2>

<h3>Account Information: </h3>

<p>Email: <%= @current_user.email %></p>
<p>Username: <%= @current_user.username %></p>

<div class="controls">
	<%= link_to 'Edit Details', edit_user_path(@current_user) %>
	<%= link_to 'Delete User', @user, :method => 'delete', :data => {:confirm => "Are you sure you want to delete your account?"} %>
</div>


<% if @current_user %>
	<% @current_user.items.each do |item| %>
		<ul>
			<li>
				<%= link_to(image_tag(item.image), item) %>
			</li>
			<li>
				<%= item.name %>
			</li>
		</ul> 
		
	<% end %>
<% else %>

<% end %>
