<div class="jumbotron">
	<div class="row spacer centre">
		<h3>Account Information: </h3>

		<p>Email: <%= @user.email %></p>
		<p>Username: <%= @user.username %></p>

		<div class="controls">
			<%= link_to 'Edit Details', edit_user_path(@user) %>
			
			<% if @current_user.present? && @current_user.admin? %>
				<%= link_to 'Delete User', @user, :method => 'delete', :data => {:confirm => "Are you sure you want to delete your account?"} %>
			<% else %>

			<% end %>
		</div>
	</div>
	<div class="row">
			<% if @user || (@current_user && @current_user.admin?) %>
				
				<% @user.items.each do |item| %>
					<ul>
						<div class="col-md-3">
							<li>
								<%= link_to(cl_image_tag(item.image, :width=>200, :crop=>:thumb, :gravity=>:face, :effect=>"vibrance"), item) %>
							</li>
							<li>
								<%= item.name %>
							</li>
						</div>	
						
					</ul> 
				
				<% end %>
			<% else %>

			<% end %>
	</div>
		

	




</div>

