<% if @current_user.present? %>
	

	<%# Need to add category dropdown menu that then makes the subcategory menu only show the subcategories linked to the category %>





	


	<ul>
		<li><label>Subcategory</label></li>
		<li><%= f.select :subcategory_id, Subcategory.all.map{|subcategory| [subcategory.name, subcategory.id]}, :include_blank => true %></li>
	</ul>

	
	<p>
		<ul>
			<li><%= f.label :name, 'Item Name:' %></li>
			<li><%= f.text_field :name %></li>
		</ul>
	</p>
	<p>
		<ul>
			<li><%= f.label :description, 'Product Description:' %></li>
			<li><%= f.text_area :description, size: "60x6" %></li>
		</ul>
	</p>
	<p>
		<ul>
			<li><%= f.label :price, 'Price ($):' %></li>
			<li><%= f.text_field :price, :prescision => 8, :scale => 2 %></li>
		</ul>
	</p>
	<p>
		<ul>
			<li><%= f.label :image %></li>
			<li><%= f.url_field :image %></li>
		</ul>
	</p>

	<p><%= f.submit %></p>

	<% end %>
<% else %>

<p>You need to have an account to post an item.</p>
<p>Please <%= link_to 'Sign In', root_path %>, or <%= link_to 'Create an Account', new_user_path %>.</p>


<% end %>
