<h2><%= @item.name %></h2>
<p><%= number_to_currency(@item.price) %></p>


<% if @item.image %>
	<p><%= image_tag(@item.image, :class => 'feature') %></p> 
<% end %>

<p><%= @item.description %></p>

<p><%= @item.subcategory.name %></p>

<p><%= @item.subcategory.category.name %></p>

<p><%= @item.user.username %></p>

<% if @current_user == @item.user %>
<div class="controls">
	<%= link_to 'Edit Item', edit_item_path(@item) %>
	<%= link_to 'Delete Item', @item, :method => 'delete', :data => {:confirm => "Are you sure you want to delete this item?"} %>
</div>
<% else %>

<% end %>