<div class="jumbotron">
	<div class="centre">
		<h2><%= @item.name %></h2>
		<% if @item.subcategory.category.name == 'community' || @item.subcategory.category.name == 'personals' %>
			
		<% else %>
			<p><%= number_to_currency(@item.price) %></p>
		<% end %>


		<% if @item.image %>
			<p><%= cl_image_tag(@item.image, :width=>200, :crop=>:thumb, :gravity=>:face, :effect=>"vibrance") %></p> 
		<% end %>

		<p><%= @item.description %></p>

		<p><%= link_to(@item.subcategory.name, subcategory_path(@item.subcategory)) %></p>

		<p><%= link_to(@item.subcategory.category.name, category_path(@item.subcategory.category)) %></p>

		<p>Posted: <%= @item.created_at.strftime "%e %B, %Y" %></p>



		<% if (@current_user == @item.user) || (@current_user && @current_user.admin?) %>
		<p><%= link_to(@item.user.username, user_path) %></p>

		<div class="controls">
			<%= link_to 'Edit Item', edit_item_path(@item) %>
			<%= link_to 'Delete Item', @item, :method => 'delete', :data => {:confirm => "Are you sure you want to delete this item?"} %>
		</div>
		<% else %>
			<p>Contact: <%= link_to @item.user.username, new_conversation_path(:recipient_id => @item.user.id, :subject => @item.name) %></p>
		<% end %>
	</div>
	
</div>

