<h2>Login</h2>

<%= form_tag '/login' do %>
	<p>
		<ul>
			<li><%= label_tag :email, 'Email:' %></li>
			<li><%= email_field_tag :email %></li>
		</ul>
	</p> 
	<p>
		<ul>
			<li><%= label_tag :password, 'Passowrd:' %></li>
			<li><%= password_field_tag :password %></li>
		</ul>
	</p>
	
	<p>
		<%= submit_tag "Login to DanielsList" %>
	</p>
	
<% end %>

<p>Not a user?? Please go to the  <%= link_to 'Create User Form', new_user_path %></p>